@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*Web Wide Styles*/
*{
    margin: 0;
    padding: 0;
}
body, html
{
    background-color: #E5F2FF;
    font-family: 'Inter', 'Sans-Serif', 'Times New Roman';
    font-style: normal;
    font-weight: 500;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}
.UniversalFieldsTB
{
    border-radius: 5px;
    background-color: lightgray;
    border: none;
    box-shadow: 1px 1px 1px 1px grey;
    min-height: 6vh;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    resize: vertical;
    padding-left: 1vw;
}
.UniversalTFFormat
{
    font-size: 1vw;
    font-family: 'Inter', 'Sans-Serif', 'Times New Roman';
    font-style: normal;
    font-weight: 300;
}
.inlineFlex
{
    width: 100%;
    display: inline-flex;
}
.container
{
    max-width: 100%;
    height: 100%;
}
.UniversalRadioContainer
{
    display: inline-flex;
    margin-right: 1vw;
    height: 6vh;
    width: 100%;
    max-width: 100%;
    justify-content: center;
}
.UniversalRadioContainer input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
.UniversalRadioContainer label {
    display: inline-flex;
    margin-right: 1vw;
    padding: 1vw 2vw;
    border-radius: 5px;
    background-color: lightgray;
    border: none;
    box-shadow: 1px 1px 1px 1px grey;
    font-size: 1vw;
    font-family: 'Inter', 'Sans-Serif', 'Times New Roman';
    font-style: normal;
    font-weight: 300;
    text-align: center;
    justify-content: center;
}
.UniversalRadioContainer input[type="radio"]:checked + label {
    background-color: #848482;
}
.UniversalRadioContainer label:hover {
    background-color: #E5E4E2;
}
.RadioChoiceContainer
{
    display: flex;
    flex-direction: row;
    width: auto;
    max-width: 100%;
    justify-content: center;
}
.UniversalRadioFix
{
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vh;
}
.UniversalCheckboxFix
{
    display: flex;
    width: 100%;
    height: 6vh;
    accent-color: #01244C;
}
.CheckboxInnerTitle
{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 1vw;
    text-align: center;
    justify-content: center;
}


/*Navigation Bar*/
.navMainContainer
{
    background-color: #01244C;
    color: white;
    padding: 0 10px 0 10px;
    margin-bottom: 12px;
}
.navElementContainer
{
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
}
.navElement2
{
    color: white;
    padding: 1vw;
    margin-right: auto;
    text-decoration: none;
}
.navElement3
{
    color: white;
    padding: 1vw;
    margin: 1vw;
    text-decoration: none;
}
.navElement3:focus
{
    color: #DDBA2C;
    font-weight: 800;
}
.navElement4
{
    color: white;
    padding: 1vw;
    margin: 1vw;
    text-decoration: none;
}
.navElement4:focus
{
    color: #DDBA2C;
    font-weight: 800;
}
.navElement5
{
    color: white;
    padding: 1vw;
    margin: 1vw;
    text-decoration: none;
}
.navElement5:focus
{
    color: #DDBA2C;
    font-weight: 800;
}
.navElement6
{
    color: white;
    padding: 1vw;
    margin-left: auto;
    text-decoration: none;
}
.navElement6:focus
{
    color: #DDBA2C;
    font-weight: 800;
}
.navElement7
{
    font-weight: 700;
    padding: 3px;
    border: 2px solid black;
}
.navElement7:hover
{
    background-color: #DDBA2C;
}
.navElement8
{
    color: white;
    padding: 1vw;
    margin: 1vw;
    text-decoration: none;
}
.navElement8:focus
{
    color: #DDBA2C;
    font-weight: 800;
}
.navElement9
{
    color: white;
    padding: 1vw;
    margin: 1vw;
    text-decoration: none;
}
.navElement9:focus
{
    color: #DDBA2C;
    font-weight: 800;
}



/* Home Page */
.homeContentContainer
{
    display: inline-flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;

}
.homeLeftContainer
{
    display: flex;
    float: left;
    width: 20%;
}
.homeFFColumn
{
    width: 20%;
    text-align: center;
}
.homeFFButton
{
    background-color: #DDBA2C;
    color: #01244C;
    border: 2px solid #01244C;
    border-radius: 5px;
    padding: 1vw 1vw;
    text-decoration: none;
    display: block;
    width: 100%;
}
.homeFFButton:hover
{
    background-color: #01244C;
    color: #DDBA2C;
    border: 2px solid #01244C;
}
.homeDFColumn
{
    width: 20%;
    text-align: center;
}
.homeDFButton
{
    background-color: #01244C;
    color: #DDBA2C;
    border: 2px solid #01244C;
    border-radius: 5px;
    width: 100%;
    padding: 1vw 1vw;
    display: block;
    text-decoration: none;
}
.homeDFButton:hover
{
    background-color: #DDBA2C;
    color: #01244C;
    border: 2px solid #01244C;
}
.homeButtonMargin
{
    margin: 15px 0px;
    list-style-type: none;
}
.homeList
{
    margin: 15px 0px;
}
.homeListLeft
{
    text-decoration: none;
    background-color: #01244C;
    color: #DDBA2C;
    border: 2px solid #01244C;
    border-radius: 5px;
    padding: 1vw 1vw;
    margin-top: 15px;
    display: block;
    width: 100%;
}
.homeListLeft:hover
{
    background-color: #DDBA2C;
    color: #01244C;
    border: 2px solid #01244C;
}
.homeListRight
{
    text-decoration: none;
    background-color: #DDBA2C;
    color: #01244C;
    border: 2px solid #01244C;
    border-radius: 5px;
    padding: 1vw 1vw;
    margin-top: 15px;
    display: block;
    width: 100%;
}
.homeListRight:hover
{
    background-color: #01244C;
    color: #DDBA2C;
    border: 2px solid #01244C;
}
.homeRightContainer
{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.homeImage{
    display: flex;
    width: 75%;
    height: 75%;
}
.homeMainText
{
    text-align: center;
    font-size: 3vw;
    font-weight: 800;
    color: #01244C;
}



/* Login Page */
.loginContainer
{
    display: inline-block;
    position: absolute;
    background-color: #01244C;
    color: white;
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 0
}
.loginTextContainer
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 2vw 0;
}
.loginMainText
{
    font-size: 3.5vw;
    text-align: center;
    color: #01244C;
    font-weight: 800;
}
.loginFormContainer
{
    display: inline;
    width: 100%;
    text-align: left;
    color: #DDBA2C;
    font-size: 2vw;
    font-weight: 400;
}
.loginLabel
{
    text-align: center;
    display: block;
}
.loginTextFields
{
    display: inline-block;
    width: 35%;
    height: 4vw;
    background-color: #FFF;
    border: 4px solid #000;
    border-radius: 25px;
    font-size: 2vw;
    text-align: center;
}
.loginTextFields[type=text]
{
    background-color: #000;
    color: #fff;
}
.loginButton
{
    display: block;
    position: relative;
    width: 20%;
    height: 4vw;
    background-color: #FFF;
    color: #000;
    border: 4px solid #000;
    border-radius: 25px;
    font-weight: 600;
    font-size: 1.5vw;
    text-align: center;
    margin: auto;
}
.loginButton:hover
{
    background-color: #DDBA2C;
    color: #000;
    border: 2px solid #01244C;
}



/* Profile Page */
.profileContainer
{
    display: inline-flex;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 30%;
    padding-top: 50px;
    justify-content: center;
}
.profileLeftColumn
{
    position: relative;
    display: flex;
    height: 100%;
    width: 25%;
    padding: 10vw;
    float: left;
    margin-right: 20px;
    border: 2px solid #01244C;
    border-radius: 40px;
    background-color: #FFFFFF;
}
.profileLE1
{
    position: absolute;
    display: block;
    top: 0;
    left: 59%;
    transform: translate(-59%, 0);
}
.profileLE1 img
{
    max-width: 75%;
    height: auto;
    align-items: center;
}
.profileLE2
{
    position: absolute;
    display: block;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 2vw;
    text-align: center;
}
.profileLE3
{
    position: absolute;
    display: block;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    font-size: 2vw;
    text-align: center;
}
.profileRightColumn
{
    position: relative;
    display: flex;
    height: 100%;
    width: 25%;
    padding: 10vw;
    float: left;
    margin-left: 20px;
    border-radius: 40px;
    background-color: #01244C;
}
.profileRightColumn h1
{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: #DDBA2C;
    font-size: 3vw;
}
.profileRightColumn h3
{
    position: relative;
    display: flex;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    color: #FFFFFF;
    font-size: 1.3vw;
}



/* Detailed Find Page */
.DFOuterContainer
{
    position: relative;
    display: flex;
    max-width: 100%;
    height: auto;
    text-decoration: none;
}
.DFInnerContainer
{
    position: relative;
    display: block;
    margin: auto;
    margin-top: 0.5vw;
    text-decoration: none;
    height: auto;
}
.DFLeftColumn
{
    position: relative;
    display: block;
    float: left;
    margin-right: 2vw;
    margin-bottom: 1vw;
    padding: 3vw 0;
    width: 25vw;
    height: auto;
    border: 2px solid #01244C;
    border-radius: 15px;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}
.DFLeftColumn p
{
    position: relative;
    display: block;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    color: #01244C;
    margin-bottom: 2vw;
}
.DFLeftColumn span
{
    margin: auto;
    position: relative;
}
.DFLeftButtons
{
    position: relative;
    display: flex;
    font-size: 1.1vw;
    font-weight: 700;
    color: #DDBA2C;
    background-color: #01244C;
    border: 2px solid #01244C;
    height: 3.5vw;
    margin: 0 1vw;
    border-radius: 8px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.DFLeftButtons:focus
{
    color: #01244C;
    background-color: #DDBA2C;
    border: 2px solid #01244C;
}
.DFLeftButtons:hover
{
    color: #01244C;
    background-color: #DDBA2C;
}
.DFRightColumn
{
    position: relative;
    display: block;
    float: right;
    width: 60vw;
    height: auto;
    border: 2px solid #01244C;
    border-radius: 15px;
    background-color: #FFFFFF;
    margin-bottom: 1vw;
}
.DFBottomBar
{
    display: inline-flex;
    margin-bottom: 1vw;
    max-width: 100%;
    justify-content: right;
    float: right;
    padding-right: 1vw;
}
.DFBottomBarInnerContainer
{
    margin: 0 0.5vw;
}
.DFBottomBarButton1
{
    font-size: 1vw;
    color: #01244C;
    background-color: #DDBA2C;
    width: 13vw;
    height: 5vh;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}
.DFBottomBarButton1:hover
{
    color: #DDBA2C;
    background-color: #01244C;
}
.DFBottomBarButton2
{
    font-size: 1vw;
    color: #DDBA2C;
    background-color: #01244C;
    width: 13vw;
    height: 5vh;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}
.DFBottomBarButton2:hover
{
    color: #01244C;
    background-color: #DDBA2C;
}

/* Detailed Find Components */
.DFUniversalContainer
{
    position: relative;
    padding: 2vw;
}
.DFUniversalTitle
{
    color: #01244C;
    font-size: 1.5vw;
    margin-bottom: 1.5vw;
}
.DFUniversalForm
{
    position: relative;
    width: 100%;
}
.DFUniversalRow
{
    display: inline-flex;
    margin-bottom: 2vw;
    width: 100%;
}
.DFUniversalData
{
    display: flex;
    margin: 0 1vw;
    flex-grow: 1;
    width: 100%;
    align-items: center;
}
.DFUniversalData label
{
    width: 100%;
}
.DFUniversalInnerTitle
{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 1vw;
}
.DFUniversalFields
{
    border-radius: 5px;
    background-color: lightgray;
    border: none;
    box-shadow: 1px 1px 1px 1px grey;
    height: 6vh;
    width: 100%;
    padding-left: 1vw;
    font-size: 1vw;
    font-family: 'Inter', 'Sans-Serif', 'Times New Roman';
    font-style: normal;
    font-weight: 300;
}



/* FF */

.FFRightColumn
{
    position: relative;
    display: block;
    float: right;
    width: 70vw;
    height: auto;
    border-radius: 15px;
    margin-bottom: 1vw;;
}
.FFUniversalContainer
{
    position: relative;
    padding: 4vw;
}
.FFUniversalTitle
{
    color: #01244C;
    font-size: 1.5vw;
    margin-bottom: 1.5vw;
}
.FFResultsContainer
{
    margin-top: 5vh;
    background-color: #FFFFFF;
    border: 2px solid #01244C;
    border-radius: 15px;
    height: auto;
    min-height: 35vw;
}
.FFUniversalInnerTitle
{
    color: #01244C;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1vw;
}

/* Report Page */

.InlineForm
{
    display: flex;
    align-items: center;
}
.RPUniversalInnerTitle
{
    font-weight: 700;
    font-size: 1vw;
    white-space: nowrap;
}
.RPCTSTitle
{
    color: #01244C;
    font-weight: 800;
    font-size: 1.25vw;
}
.RPCTSText
{
    color: #000;
    font-size: 1vw;
}
.RPCTSRow
{
    display: inline-block;
    margin-top: 3vw;
    margin-bottom: 2vw;
    width: 100%;
}
.RPCTSData
{
    display: block;
    margin: 0 1vw;
    flex-grow: 1;
    width: 100%;
}
.RPCTSTitleAlt
{
    color: #01244C;
    font-weight: 800;
    font-size: 1.25vw;
    margin: auto;
}

/* Query Result */

.QRContainer
{
    display: flex;
    margin: 2.5% 2.5%;
    min-height: 500px;
    background-color: #01244C;
    border-radius: 20px;
    height: auto;
}
.QRInnerContainer
{
    min-width: 100%;
    display: flex;
    color: #FFF;
}
.QRTitle
{
    color: #DDBA2C;
    font-size: 2vw;
    text-align: center;
}
.QRResultText
{
    color: #FFFFFF;
    font-size: 1vw;
    text-align: center;
    margin-top: 5px

}
.QRCContainer
{
    display: block;
    width: 100%;
    margin: 2vw;
    align-items: center;
}
.QRRow
{
    display: flex;
    margin-bottom: 1vw;
    width: 100%;
    border-bottom: 1px solid #FFF;
}
.QRData
{
    display: block;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    margin: 0.5% 0;
}

/* Consent for Release of Medical Information */

.CRMICheckboxFix
{
    display: flex;
    width: 25%;
    height: 6vh;
    accent-color: #01244C;
}